* {
    margin:0px;
    padding: 3px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

html, body {
    height:100%; 
     
}
#mainid{
    padding:3px;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 1px;
}

#registration-page {
    height:100%;
    background:aliceblue; 
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.signup-form  {
    flex:1;
    max-width:600px;
    border-radius: 10px;
    background-color: #EFF0F1;
    border: 1px solid #999;
    margin-top: auto;
    margin-bottom:  auto;
  }
    

  .range-group label {
    margin-left:10px;
    background-color:rgba(11, 207, 148, 0.966);
    color:white;
    border-radius: 5px;
    padding:5px;
    font-size:17px;
    text-align:center;
  }
/* FORM FOTTER */
.form-footer {
    display:flex;
    justify-content: flex-end;
    padding:10px;
}

.btn {
    padding:10px 20px;
    background-color:lightgreen;
    font-size:17px;
    border:none;
    border-radius:5px;
    color:#bcf5e7;
    cursor:pointer;
 }

input[type="text"],
input[type="email"] ,
input[type="password"],
input[type="file"],
input[type="number"],
select,
textarea  {
width:100%;

font-size: 18px;
height: 34px;
padding-left: 10px;
padding-right: 10px;
color: #666;
border: 1px solid #d6d6d6;
border-radius: 4px;
background: white;
outline: none;
}


textarea {
  resize: none;
  height:100px;
}